BeautifulSoup==3.2.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.3.0
PyYAML==3.11
Pygments==1.6
Sphinx==1.2.2
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.2.1
certifi==14.05.14
colorama==0.2.5
configparser==3.3.0r2
contextlib2==0.4.0
docutils==0.11
futures==2.2.0
gspread==0.2.2
html2text==2014.7.3
html5lib==0.999
httplib2==0.8
ipython==2.1.0
lockfile==0.8
lucene-querybuilder==0.2
lxml==3.3.3
mock==1.0.1
numpy==1.8.1
oauthlib==0.6.1
pandas==0.14.1
pexpect==3.1
piston-mini-client==0.7.5
porc==0.3.1
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pyserial==2.6
pysmbc==1.0.14.1
python-dateutil==2.2
pytz==2014.4
pyxdg==0.26
pyzmq==14.3.1
reportlab==3.0
requests==2.2.1
requests-futures==0.9.4
roman==2.0.0
simplejson==3.6.3
six==1.5.2
tornado==4.0
urllib3==1.7.1
vcrpy==1.1.0
wsgiref==0.1.2
